.slider {
    font-size: 20px;
    font-family: adobe-caslon-pro, serif;


    img {
        margin: 0 auto;
        padding: 20px;
        max-width: 300px;
        filter: grayscale(100%);
    }

    h4 {
        text-transform: uppercase;
        max-width: 85%;
        margin: 0 auto;
    }

}

.infoslider {
    max-width: 70%;
    text-align: left;
    margin: 20px auto;
    display: flex;
    overflow: hidden;

    .info {
        max-width: 70%;
        float: left;

        h3 {
            text-transform: none;
        }

        h4 {
            color: #807F82;
            font-family: adobe-caslon-pro, serif;
            text-transform: uppercase;
        }

        ul {
            font-family: adobe-caslon-pro, serif;
            color: #807F82;
            list-style-position: inside;
        }

        ul+h4 {
            padding-top: 15px;
        }

        ::after {
            content: "";
            clear: both;
            display: table;
        }
    }

    .image {
        max-width: 30%;
        overflow: hidden;
        border-radius: 50%;
        margin: 10% auto;

        .helper {
            display: inline-block;
            height: inherit;
            vertical-align: middle;
            width: 300px;
            height: 300px;

            img {
                filter: grayscale(100%);
                width: auto;
                height: 100%;
                margin-left: -50px;

            }

            .gas {
                margin-left: -140px;
            }
        }

    }

    ::after {
        content: "";
        clear: both;
        display: table;
    }


}

@media screen and (max-width: 1300px) {
    .infoslider {
        max-width: 80%;
    }
}


@media screen and (max-width: 1000px) {
    .infoslider {
        max-width: 90%;
        margin: 20px auto;

        .info {
            display: block;
            max-width: 50%;
        }

        .image {
            display: block;
            max-width: 40%;
        }
    }
}

@media screen and (max-width: 840px) {
    .infoslider {
        .info {
            display: block;
            max-width: 50%;
        }

        .image {
            display: block;
            max-width: 45%;
        }
    }
}

@media screen and (max-width: 700px) {
    .infoslider {
        max-width: 95%;
        margin: 10px auto;

        .info {
            display: block;
            max-width: 45%;
        }

        .image {
            margin-top: 100px;
            display: block;
            max-width: 50%;
        }
    }
}

@media screen and (max-width: 550px) {
    .infoslider {

        margin: 0 auto;
        max-width: 90%;

        .info {

            display: block;
            max-width: 100%;
        }

        .image {
            display: none;

        }
    }
}

@media screen and (max-width: 450px) {
    .infoslider {

        .info {
            h3 {
                font-size: 2em;
            }
        }
    }
}